@page "/"
@page "/projects"
@using BeastTimesheet.Shared.Model
@inject HttpClient http

<h1>Projects</h1>

@if (projects is null)
{
    <p>Loading...</p>
}
else
{
    @if (!projects.Any())
    {
        <p>Nothing to show here.</p>
        <button>Create project</button>
    }
    <ul>
        @foreach (var project in projects ?? Enumerable.Empty<Project>())
        {
            <li>@project.Name</li>
        }
    </ul>
}

@code {
    IEnumerable<Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await http.GetFromJsonAsync<IEnumerable<Project>>("api/Projects");
    }
}

