@using BeastTimesheet.Shared.Model
@page "/projects/{id:int}"
@inject HttpClient http
@inject NavigationManager nav

<MainTemplate>
    <Header>Project #@(id + " - " + (project?.Name is null or "" ? "Draft" : project!.Name))</Header>
    <Toolbar>
        <AsyncButton OnClick="Save" State="SavingState" Disabled="DisableButtons">
            <ButtonText>Save</ButtonText>
            <LoadingText>Saving...</LoadingText>
            <ErrorText>Saving failed!</ErrorText>
        </AsyncButton>
        <AsyncButton OnClick="Delete" State="DeletingState" Disabled="DisableButtons">
            <ButtonText>Delete</ButtonText>
            <LoadingText>Deleting...</LoadingText>
            <ErrorText>Deleting failed!</ErrorText>
        </AsyncButton>
        <button @onclick="Cancel" disabled="@DisableButtons">Cancel</button>
    </Toolbar>
    <Main>
        @if (project is null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="flex column gap">
                <div class="fill flex column gap">
                    <label for="name">Name</label>
                    <input id="name" @bind="project.Name">
                    <label for="hourly-fee">Hourly fee</label>
                    <input id="hourly-fee" @bind="project.HourlyFee">
                </div>
            </div>
        }
    </Main>
</MainTemplate>

@code {
    Project? project;
    AsyncButtonState SavingState;
    AsyncButtonState DeletingState;
    bool DisableButtons => SavingState.Merge(DeletingState) is not AsyncButtonState.Ready;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        project = await http.GetFromJsonAsync<Project>($"api/Projects/{id}");
    }

    async Task Save()
    {
        SavingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            await http.PutAsJsonAsync($"api/projects/{id}", project);
        }
        catch
        {
            SavingState = AsyncButtonState.Error;
        }

        Back();
    }

    async Task Delete()
    {
        DeletingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            await http.DeleteAsync($"api/projects/{id}");
        }
        catch
        {
            DeletingState = AsyncButtonState.Error;
        }

        Back();
    }

    void Cancel()
    {
        Back();
    }

    void Back() => nav.NavigateTo("projects");
}

