@using BeastTimesheet.Shared.Model
@using BeastTimesheet.Shared
@using BeastTimesheet.DesignSystem
@page "/projects/{id:int}"
@inject HttpClient http
@inject NavigationManager nav

<MainTemplate>
    <Header>
        <AsyncResource State="loadingState">
            <ResourceContent>
                Project #@(id + " - " + (project?.Name is null or "" ? "Draft" : project!.Name))
            </ResourceContent>
            <LoadingText>...</LoadingText>
            <ErrorText>Ops!</ErrorText>
        </AsyncResource>
    </Header>
    <Toolbar>
        <AsyncButton OnClick="Save" State="savingState" Disabled="disableButtons">
            <ButtonText>Save</ButtonText>
            <LoadingText>Saving...</LoadingText>
            <ErrorText>Saving failed!</ErrorText>
        </AsyncButton>
        <AsyncButton OnClick="Delete" State="deletingState" Disabled="disableButtons">
            <ButtonText>Delete</ButtonText>
            <LoadingText>Deleting...</LoadingText>
            <ErrorText>Deleting failed!</ErrorText>
        </AsyncButton>
        <AsyncButton OnClick="CreateTimesheet" State="creatingTimesheetState" Disabled="disableButtons">
            <ButtonText>Create timesheet</ButtonText>
            <LoadingText>Creating timesheet...</LoadingText>
            <ErrorText>Creating timesheet failed!</ErrorText>
        </AsyncButton>
        <button @onclick="Cancel" disabled="@disableButtons">Cancel</button>
    </Toolbar>
    <Main>
        <AsyncResource State="loadingState">
            <ResourceContent>
                <h2 class="pad center">Data</h2>
                <div class="flex column gap">
                    <label for="name">Name</label>
                    <input id="name" @bind="project!.Name">
                    <label for="hourly-fee">Hourly fee</label>
                    <input id="hourly-fee" @bind="project.HourlyFee">
                </div>
                <h2 class="center pad">Timesheets</h2>
                <ListView Items="project.Timesheets" Context="timesheet">
                    <ItemTemplate>
                        <li class="pad">@timesheet.Name</li>
                    </ItemTemplate>
                    <EmptyContent>
                        <p>Nothing to show here.</p>
                        <AsyncButton OnClick="CreateTimesheet" State="creatingTimesheetState" Disabled="disableButtons">
                            <ButtonText>Create timesheet</ButtonText>
                            <LoadingText>Creating timesheet...</LoadingText>
                            <ErrorText>Creating timesheet failed!</ErrorText>
                        </AsyncButton>
                    </EmptyContent>
                </ListView>
            </ResourceContent>
            <LoadingText>Loading project...</LoadingText>
            <ErrorText>Loading project failed!</ErrorText>
        </AsyncResource>
    </Main>
</MainTemplate>

@code {
    Project? project;
    AsyncResourceState loadingState;
    AsyncButtonState savingState;
    AsyncButtonState deletingState;
    AsyncButtonState creatingTimesheetState;
    bool disableButtons =>
    savingState.Merge(deletingState).Merge(creatingTimesheetState) is not AsyncButtonState.Ready ||
    loadingState is not AsyncResourceState.Success;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        try
        {
            project = await http.GetFromJsonAsync<Project>($"api/Projects/{id}", Config.JsonSerializerOptions);
            loadingState = AsyncResourceState.Success;
        }
        catch
        {
            loadingState = AsyncResourceState.Error;
        }
    }

    async Task Save()
    {
        savingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            await http.PutAsJsonAsync($"api/projects/{id}", project);
        }
        catch
        {
            savingState = AsyncButtonState.Error;
        }

        Back();
    }

    async Task Delete()
    {
        deletingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            await http.DeleteAsync($"api/projects/{id}");
        }
        catch
        {
            deletingState = AsyncButtonState.Error;
        }

        Back();
    }

    void Cancel()
    {
        Back();
    }

    async Task CreateTimesheet()
    {
        await Task.Delay(2000);
    }

    void Back() => nav.NavigateTo("projects");
}

