@page "/"
@page "/projects"
@using BeastTimesheet.Shared.Model
@inject HttpClient http
@inject NavigationManager nav

<Header>Projects</Header>

<Main>
    @if (projects is null)
    {
        <p>Loading...</p>
    }
    else
    {
        @if (!projects.Any())
        {
            <div class="grid center">
                <div class="grid gap">
                    <p>Nothing to show here.</p>
                    <button @onclick="Create">Create project</button>
                    <p style="visibility: @creatingVisibility">Creating...</p>
                </div>
            </div>
        }
        else
        {
            <div class="flex column gap">
                <ul>
                    @foreach (var project in projects)
                    {
                        <li>
                            <NavLink href="@($"projects/{project.Id}")">
                                @(project.Name is not "" ? project.Name : "No name - #" +
                                    project.Id)
                            </NavLink>
                        </li>
                    }
                </ul>
                <div class="grid center">
                    <button @onclick="Create">Create project</button>
                </div>
            </div>
        }
    }
</Main>

@code {
    IEnumerable<Project>? projects;
    string creatingVisibility = "hidden";

    protected override async Task OnInitializedAsync()
    {
        projects = await http.GetFromJsonAsync<IEnumerable<Project>>("api/Projects");
    }

    async Task Create()
    {
        creatingVisibility = "visible";
        var res = await http.PostAsJsonAsync("api/Projects", new Project());
        var project = await res.Content.ReadFromJsonAsync<Project>();
        nav.NavigateTo($"projects/{project!.Id}");
    }
}

