@page "/"
@page "/projects"
@using BeastTimesheet.Shared.Model
@using BeastTimesheet.Shared
@using BeastTimesheet.DesignSystem
@inject HttpClient http
@inject NavigationManager nav

<MainTemplate>
    <Header>Projects</Header>
    <Toolbar>
        <AsyncButton OnClick="Create" State="creatingState">
            <ButtonText>Create project</ButtonText>
            <LoadingText>Creating...</LoadingText>
            <ErrorText>Creating failed!</ErrorText>
        </AsyncButton>
    </Toolbar>
    <Main>
        <AsyncResource State="loadingState">
            <ResourceContent>
                <ListView Items="projects" Context="project">
                    <ItemTemplate>
                        <NavLink href="@($"projects/{project.Id}")">
                            @(project.Name is not "" ? project.Name : "Draft - #" +
                                project.Id)
                        </NavLink>
                    </ItemTemplate>
                    <EmptyContent>
                        <p>Nothing to show here.</p>
                        <AsyncButton OnClick="Create" State="creatingState">
                            <ButtonText>Create project</ButtonText>
                            <LoadingText>Creating...</LoadingText>
                            <ErrorText>Creating failed!</ErrorText>
                        </AsyncButton>
                    </EmptyContent>
                </ListView>
            </ResourceContent>
            <LoadingText>Loading projects...</LoadingText>
            <ErrorText>Loading projects failed!</ErrorText>
        </AsyncResource>
    </Main>
</MainTemplate>

@code {
    IEnumerable<Project>? projects;
    AsyncResourceState loadingState;
    AsyncButtonState creatingState;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        try
        {
            projects = await http.GetFromJsonAsync<IEnumerable<Project>>("api/Projects", Config.JsonSerializerOptions);
            loadingState = AsyncResourceState.Success;
        }
        catch
        {
            loadingState = AsyncResourceState.Error;
        }
    }

    async Task Create()
    {
        creatingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            var res = await http.PostAsJsonAsync("api/Projects", new Project());
            var project = await res.Content.ReadFromJsonAsync<Project>();
            nav.NavigateTo($"projects/{project!.Id}");
        }
        catch
        {
            creatingState = AsyncButtonState.Error;
        }
    }
}

