@using BeastTimesheet.Shared.Model
@page "/projects/{id:int}"
@inject HttpClient http
@inject NavigationManager nav

<MainTemplate>
    <Header>Project #@(id + " - " + project?.Name ?? "...")</Header>
    <Main>
        @if (project is null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="flex column gap">
                <div class="fill flex column gap">
                    <label for="name">Name</label>
                    <input id="name" @bind="project.Name">
                    <label for="hourly-fee">Hourly fee</label>
                    <input id="hourly-fee" @bind="project.HourlyFee">
                </div>
                <button @onclick="Save">Save</button>
                <button @onclick="Delete">Delete</button>
                <button @onclick="Cancel">Cancel</button>
                <p style="visibility: @loadingVisibility">Loading...</p>
            </div>
        }
    </Main>
</MainTemplate>

@code {
    Project? project;
    string loadingVisibility = "hidden";
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        project = await http.GetFromJsonAsync<Project>($"api/Projects/{id}");
    }

    async Task Save()
    {
        loadingVisibility = "visible";
        await http.PutAsJsonAsync($"api/projects/{id}", project);
        Back();
    }

    async Task Delete()
    {
        loadingVisibility = "visible";
        await http.DeleteAsync($"api/projects/{id}");
        Back();
    }

    void Cancel()
    {
        Back();
    }

    void Back() => nav.NavigateTo("projects");
}

