@using BeastTimesheet.Shared.Model
@using BeastTimesheet.Shared
@using BeastTimesheet.DesignSystem
@page "/projects/{id:int}"
@inject HttpClient http
@inject NavigationManager nav

<MainTemplate>
    <Header>Project #@(id + " - " + (project?.Name is null or "" ? "Draft" : project!.Name))</Header>
    <Toolbar>
        <AsyncButton OnClick="Save" State="SavingState" Disabled="DisableButtons">
            <ButtonText>Save</ButtonText>
            <LoadingText>Saving...</LoadingText>
            <ErrorText>Saving failed!</ErrorText>
        </AsyncButton>
        <AsyncButton OnClick="Delete" State="DeletingState" Disabled="DisableButtons">
            <ButtonText>Delete</ButtonText>
            <LoadingText>Deleting...</LoadingText>
            <ErrorText>Deleting failed!</ErrorText>
        </AsyncButton>
        <button @onclick="Cancel" disabled="@DisableButtons">Cancel</button>
    </Toolbar>
    <Main>
        <AsyncResource State="LoadingState">
            <ResourceContent>
                <h2 class="pad center">Data</h2>
                <div class="flex column gap">
                    <label for="name">Name</label>
                    <input id="name" @bind="project!.Name">
                    <label for="hourly-fee">Hourly fee</label>
                    <input id="hourly-fee" @bind="project.HourlyFee">
                </div>
                <h2 class="center pad">Timesheets</h2>
                <ListView Items="project.Timesheets" Context="timesheet">
                    <ItemTemplate>
                        <li class="pad">@timesheet.Name</li>
                    </ItemTemplate>
                    <EmptyContent>
                        <p>Nothing to show here.</p>
                    </EmptyContent>
                </ListView>
            </ResourceContent>
            <LoadingText>Loading project...</LoadingText>
            <ErrorText>Loading project failed!</ErrorText>
        </AsyncResource>
    </Main>
</MainTemplate>

@code {
    Project? project;
    AsyncResourceState LoadingState;
    AsyncButtonState SavingState;
    AsyncButtonState DeletingState;
    bool DisableButtons => SavingState.Merge(DeletingState) is not AsyncButtonState.Ready;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        try
        {
            project = await http.GetFromJsonAsync<Project>($"api/Projects/{id}", Config.JsonSerializerOptions);
            LoadingState = AsyncResourceState.Success;
        }
        catch
        {
            LoadingState = AsyncResourceState.Error;
        }
    }

    async Task Save()
    {
        SavingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            await http.PutAsJsonAsync($"api/projects/{id}", project);
        }
        catch
        {
            SavingState = AsyncButtonState.Error;
        }

        Back();
    }

    async Task Delete()
    {
        DeletingState = AsyncButtonState.Loading;

        await Task.Delay(2000);

        try
        {
            await http.DeleteAsync($"api/projects/{id}");
        }
        catch
        {
            DeletingState = AsyncButtonState.Error;
        }

        Back();
    }

    void Cancel()
    {
        Back();
    }

    void Back() => nav.NavigateTo("projects");
}

