@using BeastTimesheet.DesignSystem
@inject Auth auth

@if (auth.Key == null)
{
    <Login />
}
else
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <MainTemplate>
                <Header>404 - Not found</Header>
                <Main>
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </Main>
            </MainTemplate>
        </NotFound>
    </Router>
}

@code {
    protected override void OnInitialized()
    {
        auth.OnChange += StateHasChanged;
    }
}

