@using static BeastTimesheet.Shared.Config
@namespace BeastTimesheet.DesignSystem
@inject HttpClient http
@inject Auth auth

<header class="grid gap blur">
    <h1 class="pad center">@Header</h1>
    <nav class="pad grid gap scroll">
        <div class="flex end divide">@Actions</div>
        <div class="flex end divide">@Links</div>
    </nav>
</header>
<main class="fill grid">
    <div class="page pad flex column gap">
        @Main
    </div>
</main>
<footer class="pad flex end gap blur">
    <span>version @version</span>
    @if (auth.Key is not null)
    {
        <button @onclick="Logout">Logout</button>
    }
</footer>

@code {
    string version = VERSION;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public RenderFragment? Header { get; set; }
    [Parameter]
    public RenderFragment? Main { get; set; }
    [Parameter]
    public RenderFragment? Actions { get; set; }
    [Parameter]
    public RenderFragment? Links { get; set; }

    void Logout()
    {
        http.DefaultRequestHeaders.Remove("Key");
        auth.Key = null;
    }
}