@namespace BeastTimesheet.DesignSystem
@typeparam TItem

@if (Item is not null)
{
    @ItemTemplate!(Item)
}
else
{
    <div class="grid center fill">
        <div class="grid gap">@EmptyContent</div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public TItem? Item { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment<TItem>? ItemTemplate { get; set; }
    [Parameter]
    public RenderFragment? EmptyContent { get; set; }
}