@namespace BeastTimesheet.DesignSystem

@if (State is AsyncResourceState.Loading && LoadingText is not null)
{
    <div class="fill grid center">
        <p>@LoadingText</p>
    </div>
}
else if (State is AsyncResourceState.Success)
{
    @ResourceContent
}
else if (State is AsyncResourceState.Error && ErrorText is not null)
{
    <div class="fill grid center">
        <p class="error">@ErrorText</p>
    </div>
}

@code {
    [Parameter]
    public AsyncResourceState State { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment? ResourceContent { get; set; }
    [Parameter]
    public RenderFragment? LoadingText { get; set; }
    [Parameter]
    public RenderFragment? ErrorText { get; set; }
}