@using System.Net
@using BeastTimesheet.DesignSystem
@inject HttpClient http
@inject Auth auth

<div class="flex column">
    <MainTemplate>
        <Header>Login</Header>
        <Main>
            <div class="grid center fill">
                <div class="grid gap">
                    <p>Insert key</p>
                    <input type="password" @ref="inputReference" @bind="Input" @bind:event="oninput"
                        @onkeypress="OnKey">
                    <AsyncButton OnClick="OnConfirm" State="LoginState">
                        <ButtonText>Confirm</ButtonText>
                        <LoadingText>Logging in...</LoadingText>
                        <ErrorText>Login failed!</ErrorText>
                    </AsyncButton>
                </div>
            </div>
        </Main>
    </MainTemplate>
</div>

@code {
    [Parameter]
    public ElementReference inputReference { get; set; }

    string? input;
    string? Input
    {
        get => input;
        set
        {
            input = value;
            LoginState = AsyncButtonState.Ready;
        }
    }

    AsyncButtonState LoginState { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await inputReference.FocusAsync();
    }

    async Task OnConfirm()
    {
        LoginState = AsyncButtonState.Loading;

        http.DefaultRequestHeaders.Remove("Key");
        http.DefaultRequestHeaders.Add("Key", input);

        var res = await http.GetAsync("api/Auth");

        if (res.StatusCode is not HttpStatusCode.OK)
        {
            LoginState = AsyncButtonState.Error;
            return;
        }

        auth.Key = input;
        input = null;
    }

    async Task OnKey(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key is "Enter")
        {
            await OnConfirm();
        }
    }
}

