@inherits LayoutComponentBase
@inject HttpClient http
@inject Auth auth

<div class="flex column">
    @Body
</div>

@code {
    void Logout()
    {
        http.DefaultRequestHeaders.Remove("Key");
        auth.Key = null;
    }
}