@inherits LayoutComponentBase
@inject HttpClient http
@inject Auth auth

<div>
    @Body
</div>

@* <div class="page">
<div class="sidebar">
<NavMenu />
</div>

<main>
<div class="top-row px-4">
<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
<button @onclick="Logout">Logout</button>
</div>

<article class="content px-4">
@Body
</article>
</main>
</div> *@

@code {
    void Logout()
    {
        http.DefaultRequestHeaders.Remove("Key");
        auth.Key = null;
    }
}