@using BeastTimesheet.Shared
@inherits LayoutComponentBase
@inject HttpClient http
@inject Auth auth

@Body
<footer class="pad flex end gap">
    <span>version @version</span>
    <button @onclick="Logout">Logout</button>
</footer>

@code {
    string version = Config.Version;
    void Logout()
    {
        http.DefaultRequestHeaders.Remove("Key");
        auth.Key = null;
    }
}