<header class="pad grid gap">
    <h1 class="center">@Header</h1>
    <nav class="flex end">@Toolbar</nav>
</header>
<main class="fill grid">
    <div class="page pad">
        @Main
    </div>
</main>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public RenderFragment? Header { get; set; }
    [Parameter]
    public RenderFragment? Main { get; set; }
    [Parameter]
    public RenderFragment? Toolbar { get; set; }
}