@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif
}

header {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0 16px;
  white-space: nowrap;
}

.full {
  height: 100vh;
  width: 100vw;
}

.scroll {
  overflow: auto;
}

.pad {
  padding: 8px;
}

.grid {
  display: grid;
}

.grid.center {
  place-items: center;
}

.grid.stretch {
  place-items: stretch;
}

.grid.gap {
  gap: 8px;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex .fill {
  flex: 1 0 auto;
}

.loader {
  display: grid;
  justify-items: start;
  align-items: center;
}

.loader>.loader-progress-bar {
  height: 8px;
  width: 300px;
  margin-bottom: 8px;
  background-color: gray;
  border-radius: 4px;
  overflow: hidden;
}

.loader>.loader-progress-bar>.progress {
  height: 100%;
  width: var(--blazor-load-percentage, 50%);
  background-color: black;
}

.loader>.loader-text::before {
  content: var(--blazor-load-percentage-text, "Loading...");
}

#blazor-error-ui {
  display: none;
}

.error {
  color: red;
}

.text.center {
  text-align: center;
  vertical-align: middle;
}