@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 1.06rem;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.75);
  backdrop-filter: blur(4px);
}

header *, h1, h2 {
  white-space: nowrap;
}

:is(.flex:not(.column), .grid.row).divide > :is(* + *, button + button) {
  border-left: 1px solid black;
  padding-left: 8px;
  margin-left: 8px;
}

:is(.flex.column, .grid:not(.row)).divide > :is(* + *, button + button) {
  border-top: 1px solid black;
  padding-top: 8px;
  margin-top: 8px;
}

footer {
  border-top: 1px solid black;
  position: sticky;
  bottom: 0;
  background-color: hsla(0, 0%, 100%, 0.75);
  backdrop-filter: blur(4px);
}

button {
  border: unset;
  background-color: unset;
  font-family: unset;
  font-size: unset;
  padding: unset;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  font-size: large;
  max-width: 100%;
  min-width: 100%;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  height: 40px;
}

input[type="checkbox"]::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  content: ' ';
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
}

input[type="checkbox"]:checked::after {
  content: '✓';
}

textarea {
  min-height: 150px;
  border: none;
}

.textarea-container {
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

:is(input, select):focus {
  border: 2px solid black;
  padding: 7px;
}

textarea:focus {
  padding: 7px;
}

.textarea-container:has(textarea:focus) {
  border: 2px solid black;
}

.full {
  height: 100%;
  width: 100%;
}

.scroll {
  overflow: auto;
}

.pad {
  padding: 8px;
}

.grid {
  display: grid;
}

.grid.row {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.grid.stretch {
  place-items: stretch;
}

.gap {
  gap: 8px;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex .fill {
  flex: 1 0 auto;
}

.loader {
  display: grid;
  justify-items: start;
  align-items: center;
}

.loader > .loader-progress-bar {
  height: 8px;
  width: 300px;
  margin-bottom: 8px;
  background-color: gray;
  border-radius: 4px;
  overflow: hidden;
}

.loader > .loader-progress-bar > .progress {
  height: 100%;
  width: var(--blazor-load-percentage, 50%);
  background-color: black;
}

.loader > .loader-text::before {
  content: var(--blazor-load-percentage-text, "Loading...");
}

#blazor-error-ui {
  display: none;
}

.error {
  color: red;
}

.center {
  text-align: center;
  place-items: center;
}

.start {
  text-align: start;
  justify-content: start;
}

.end {
  text-align: end;
  justify-content: end;
}

ul {
  padding: unset;
  list-style: none;
}

li + li {
  border-top: 1px solid black;
}

a {
  color: inherit;
}

.page {
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.page > :last-child {
  margin-bottom: 25vh;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 0.9rem;
  }
}